<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="MySql" connectionString="Server=104.238.119.147;Database=pospino_ps1;Uid=pospino_ps1;Pwd=Procaps2013*;" />
    <add name="VC_MySql" connectionString="Server=132.148.25.188;Database=pospino_ps1;Uid=pospino_ps1;Pwd=Procaps2013*;" />
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" /></startup>
  <appSettings>
    <add key="DiasPagos" value="-2" />
    <add key="DiasPedidos" value="-6" />
    <add key="FTP" value="ftp://104.238.119.147//principal//" />
    <add key="FTPUser" value="isap@diabetrics.tienda" />
    <add key="Cuenta" value="1105050102" />
    <add key="ClasePedido" value="Z029" />
    <add key="OrdenVenta" value="CO19" />
    <add key="Centro" value="CO24" />
    <add key="FTPPass" value=")c{yba*yvt(r" />
    <add key="separador" value="~" />
    <add key="FleteNoIVA" value="617000019" />
    <add key="FleteIVA" value="617000020" />
  <add key="clientepago" value="1000" />
    <add key="Carpeta" value="C:\\logs\\" />
  </appSettings>
<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.8.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data></configuration>
