<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="MySql" connectionString="Server=104.238.119.147;Database=pospino_ps1;Uid=pospino_ps1;Pwd=Procaps2013*;"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <appSettings>
    <add key="DiasPagos" value="0"/>
    <add key="DiasPedidos" value="0"/>
    <add key="FTP" value="ftp://104.238.119.147//principal//"/>
    <add key="FTPUser" value="isap@diabetrics.tienda"/>
    <add key="FTPPass" value=")c{yba*yvt(r"/>
    <add key="separador" value="~"/>
  <add key="clientepago" value="1005"/>
  </appSettings>
</configuration>
